[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
jupyterlab = "*"
sklearn = "*"
pandas = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
pyod = "*"
seaborn = "*"
keras = "*"
tensorflow = "*"
"h5py" = "*"
pyyaml = ">=4.2b1"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
